.imageContainer {
  height: 170px;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imageContainer img {
  object-fit: cover;
}
