@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --text-color: #292929;
  --sub-text: #555555;
  --red: #ee3333;
  background-color: #fff;
}


body {
background-color: #fff;
}
